* {
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9rem;
    font-family: "Helvetica";
}


body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgb(97, 98, 99)0%, rgba(0, 0, 0, 0)100%)
}