@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9rem;
    font-family: "VT323", monospace;
}


body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0deg, rgb(97, 98, 99)0%, rgba(0, 0, 0, 0)100%);


    font-family: 'Press Start 2P', cursive;
}