#play-again {
    padding: 0;
    margin: 0;
    background-color: green;
    color: white;
    font-family: "Press Start 2P", cursive;
    margin-block-start: rem;
    border-radius: 20px;
    user-select: none;
    padding: 1rem;
}

#play-again:hover {
    box-shadow: 0 0 10px black;
}

#play-again:active {
    background-color: lightgray;
    transform: scale(0.9);
}